html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    image-rendering: pixelated;
    /*background: black;*/
}

#game-canvas {
    width: 100%;
    border-bottom: solid 5px #424242;
    box-sizing: content-box;
    /*background: #009432;*/
    background: #ecf0f1;
}

.disable-anti-aliasing {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

.ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#gameover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 3vw;
    color: #fff;
    font-family: "Arial", serif;
    text-align: center;
    visibility: hidden;
}

#gameoverText {
    text-transform: uppercase;
    font-size: 4vw;
    margin-bottom: 30px;
}

